*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /*filter: invert(100%);*/
}

/*for the mobile*/
.schoolLogo{
     height: 80px;
}
.logoName{

    font-size: 30px;
}

nav{
    display: flex;/* to nav to be flexible*/
    padding: 1%;
    /*justify-content: space-around;*/
    align-items: center;

}
.nav-links ul li{

    font-weight: bold;
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    position: relative;

    background: #00ff22;
    box-shadow: hsl(341, 100%, 30%) 4px 4px 0px;
    border-radius: 8px;

    transition: transform 200ms, box-shadow 200ms;


}
.nav-links ul li{
    font-weight: bold;
    list-style: none;
    display: inline block;
    padding: 8px 25px;
    position: relative;
    
    background: #00ff22;
    box-shadow: hsl(341, 100%, 30%) 4px 4px 0px;
    border-radius: 8px;

    transition: transform 200ms, box-shadow 200ms;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.header{
    margin-bottom: 50px;
    position: sticky;
    top: 0px;

}
.image-cointainer{
    margin:auto;
    padding: 0px;

}
.schoolImage{
    width: 100%;
    height: 628px;
}
.main-container{
    padding: 10px;

}
.box1-main{

    border: 5px solid;
    width: 50%;
    height: 600px;
    font-size: 22px;

    display: inline-block;
}
.box1-main img{
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 50px;
}
.box1-main p{
    text-align: center;
}
.box2-main{
    float: right;
    border: 5px solid;
    top: 50%;
    width: 47%;
    height: 600px;
    font-size: 22px;
}
.news-container{
    display: grid;
    text-align: center;
    margin-bottom: 50px;
}
.footer-container{
    
    
    display: grid;
    text-align: center;
}
.footer-social-media{
    border: 2px solid;
    width: 20%;
    height: 100px;
    font-size: 22px;
    overflow: hidden;

    display: inline-block;
}
.footer-contact-us{
    border: 2px solid;
    width: 20%;
    height: 100px;
    font-size: 22px;
    overflow: hidden;

    display: inline-block;
}
.footer-address{
    border: 2px solid;
    width: 20%;
    height: 100px;
    font-size: 22px;
    overflow: hidden;
     
   display: inline-block; 
}
/*
@media only screen and (min-width: 768px){
    .schoolLogo{
        posistion: absolute;
        height: 250px;
        margin: auto;
        paddinh: 1px;

    }
    .logoName{
        
        font-size: 35px;
        margin: auto;
        padding: 1px;

    }
    .schoolImage{

        margin:auto;
        width: 100%;
        height: 1px;

    }
}
@media only screen and (min-width: 1000px){
    
    .schoolLogo{
        height: 1000px;
        margin: left 10px;
        padding: 1px;
       
    }
    .schoolLogo{
        align-items: center;
        
    }


